@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}


* {
    margin: 0;       
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: #101b23;
    color: #f6f7f7;
    font-family: "Noto Sans", sans-serif;
    padding: 2rem;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.7em;
    margin: 0.5em 0;
}

h4 {
    font-size: 1.3em;
}

label {
    font-size: 1.2em;
}

p {
    color: #8391a4;
    font-size: 1.1em;
    font-weight: 350;
}

.margin-bottom-2rem {
    margin-bottom: 2rem;
}


